<div *ngIf="error">{{error}}</div>
<div class="card"></div>
<div class="card">
    <h1 class="title">Login</h1>
    <form (ngSubmit)="submit()">
        <div class="input-container form-group"><input type="text" id="login_username" required="required" name="username" class="form-control"  [(ngModel)]="username"/><label
                for="login_username">Username</label>
            <div class="bar"></div>
        </div>
        <div class="input-container form-group"><input type="password" id="login_password" required="required"  name="password" class="form-control"  [(ngModel)]="password" /><label
                for="login_password">Password</label>
            <div class="bar"></div>
        </div>
        <div class="button-container form-group"><button><span>Go</span></button></div>
        <div class="footer"><a href="#">Forgot your password?</a></div>
    </form>
</div>
